# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
front/node_modules

# testing
/coverage

# production
front/build
front/dist
front/.next

# misc
.DS_Store
.env
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
